[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
gensim = "*"
spacy = "*"
transformers = "*"
tensorboard = "<2.0"
torch  = "*"
torchvision= "*"
jupyter-tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
