[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
gensim = "*"
spacy = "*"
keras = "*"
transformers = "*"
tensorflow-gpu = ">=2.0.0"
jupyter-tensorboard = "==0.1.1"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
